.content-container {
  max-width: 90%;
  position: relative;
  display: inline-flex;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__top-text {
    top: 0;
  }

  &__bottom-text {
    bottom: 0;
  }

  &__top-text,
  &__bottom-text {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
