@import "./styles/Header.scss";
@import "./styles/Form.scss";
@import "./styles/ContentContainer.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.generator {
  text-align: center;
}
